.song {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 1rem;
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

.title, .library p{
    padding: 1rem;
}





.song__details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.song__details h3,
.song__details p{
    margin: 0;
    padding: 0; 
}

.song button {
    background: #4caf50;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.song button:hover {
    background: #45a049;
}