body {
    background-color: #eaeaea;
    margin: 0;
    padding: 0;
}

.App {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding-bottom: 2rem;
    border-radius: 15px;
}
